<header class="site-header">
    <nav class="navbar">
        <h1 class="logo">TTMA-MovieSite</h1>
        <ul class="nav-links">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/all/all.html">All Movies</a></li>
            <li><a href="/clear/clear.html">Clear Copies</a></li>
            <li><a href="/login/login.html" id="loginLink">Login</a></li>
            <li><a href="/login/register.html" id="registerLink">Register</a></li>
            <li><a href="/login/logout.html" id="logoutLink" style="display: none;">Logout</a></li>
        </ul>
    </nav>
</header>